<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6">
        <img
          class="card-img-top mb-5 mb-md-0"
          src="{{ product.image }}"
        />
      </div>
      <div class="col-md-6">
        <h1 class="display-5 fw-bolder">{{ product.title }}</h1>
        <div class="mb-3">
          <span class="fs-2 text-decoration-line-through pe-3">
            ${{ (product.price + (product.price * 20) / 100).toFixed(2) }}
          </span>
          <span class="fs-1">${{ product.price }}</span>
        </div>
        <p class="fs-3 lead text-justify">
          {{ product.description }}
        </p>
        <div class="d-flex gap-2">
          <button (click)="addToCart(product)" class="btn btn-outline-dark flex-shrink-0" type="button">
            <i class="fa-solid fa-cart-shopping me-1"></i>
            Add to cart
          </button>
          <button (click)="addToWishlist()" class="btn btn-outline-dark flex-shrink-0" type="button">
            <i class="fa-solid fa-heart bi-cart-fill me-1"></i>
            Add To Wishlist
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
